@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
body {
    background-color: rgba(221, 180, 76, 0.753);
    font-family: 'Oldenburg', cursive;
}

a {
    text-decoration: none;
}

.page-title {
    text-align: center;
}

.credits {
    display: inline;
}

.food {
    margin-top: .6em;
}


/* LOGO CSS */

img {
    width: 10%;
    height: auto;
}

.odin-logo {
    text-align: center;
}