@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
body {
    background-color: rgba(221, 180, 76, 0.753);
    font-family: 'Oldenburg', cursive;
    padding: 2em;
}

a {
    text-decoration: none;
    color: black;
}

.page-title {
    text-align: center;
}

.credits {
    display: inline;
}

.food {
    margin-top: .6em;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-5%);
    width: 250%;
    height: auto;
}

.food.skip {
    width: 150%;
}


/* LOGO CSS */

img {
    width: 10%;
    height: auto;
}

.odin-logo {
    text-align: center;
}